@media screen and (max-width:2000px) {
    .container {
      
      height: 1630px;
      
      
  }
  
  }
  
  
  @media screen and (max-width:1199px) {
    .container {
      
      height: 2040px;
   
  }
  
  
  }

  @media screen and (max-width: 991px) {
    .container {
      
      height: 2470px;
      
  }
  
  }



  
  @media screen and (max-width: 575px) {
    
    a{
      margin-right: 50px;
      
  }
  .container {
        
    height: 2460px;
    
    
}
  
  }

  @media screen and (max-width: 545px) {
    a{
        margin-right: 0px;
        
    }
    .container {
        
      height: 4400px;
      
      
  }
  
  }

    .avatar {
        vertical-align: middle;
        width: 70px;
        height: 70px;
        border-radius: 50%;
      
      }
    
 