.fondo{
    width: 100%;
   
    background-size: cover; /*hace que la imagen se estire*/
    background-attachment: fixed; /*hace que la imagen se deslice con la pagina*/
    margin: 0px;
    background-position: center;
    
}

.fondotxt{
    
    background-color: black;
    opacity: 0.5;
    width: 80%;
    height: 1080px;
    margin-left: 10%;
    background-position: center;
}