.fondo{
    width: 100%;
   
    background-size: cover; 
    background-attachment: fixed; 
    margin: 0px;
    background-position: center;
   
    
}

.fondotxt{
    
    background-color: black;
    opacity: 0.5;
    width: 80%;
    height: 1080px;
    margin-left: 10%;
    background-position: center;
}

img{
    width: 15%;
    background-position: left;
}